<ion-view title="V. Baller" id="page4">
  <ion-content padding="true" class="has-header">
    <h1 id="vBaller-heading1" style="color:#000000;">Very Relevant Information</h1>
    <div id="vBaller-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">How to become a Super Smash Ultimate pro player:</p>
    </div>
    <ion-list id="vBaller-list6">
      <ion-item class="item-icon-left" id="vBaller-list-item8">
        <i class="icon ion-social-reddit-outline"></i>How to Short Hop</ion-item>
      <ion-item class="item-icon-left" id="vBaller-list-item9">
        <i class="icon ion-ionic"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="vBaller-list-item10">
        <i class="icon ion-ionic"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="vBaller-list-item11">
        <i class="icon ion-ionic"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="vBaller-list-item12">
        <i class="icon ion-ionic"></i>Item</ion-item>
    </ion-list>
  </ion-content>
</ion-view>